fastapi
uvicorn
python-multipart
python-docx
PyMuPDF
pdfplumber
pytesseract
langchain-core
langchain
langchain-community
langchain-huggingface
langchain-pinecone
langchain-text-splitters
numpy
pillow
python-dotenv
google-generativeai
huggingface-hub[hf_xet]
sentence-transformers
pinecone-client
typing_extensions
hf-xet
